<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/styles.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <h1>Es tu turno! Haz click en donde deseas atacar</h1>
    <table>
      <tr>
        <th></th>
        <th id="1">1</th>
        <th id="2">2</th>
        <th id="3">3</th>
      </tr>
      <tr>
        <th id="A">A</th>
        <td id="A1"><a href="/atacar/A1">A1</a></td>
        <td id="A2"><a href="/atacar/A2">A2</a></td>
        <td id="A3"><a href="/atacar/A3">A3</a></td>
      </tr>
      <tr>
        <th id="B">B</th>
        <td id="B1"><a href="/atacar/B1">B1</a></td>
        <td id="B2"><a href="/atacar/B2">B2</a></td>
        <td id="B3"><a href="/atacar/B3">B3</a></td>
      </tr>
      <tr>
        <th id="C">C</th>
        <td id="C1"><a href="/atacar/C1">C1</a></td>
        <td id="C2"><a href="/atacar/C2">C2</a></td>
        <td id="C3"><a href="/atacar/C3">C3</a></td>
      </tr>
    </table>
  </body>
</html>
