<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Astucia Naval</title>
    <link rel="stylesheet" href="/css/styles.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="container">
    <h1>Bienvenido</h1>
    <h2>Astucia Naval</h2>
    <img class="logo" src="https://esp.rt.com/actualidad/public_images/182/18220a65ca3035c089fba607e87ee562_article.jpg" alt="logo">
    <form class="" action="/tablero" method="get">
      <input type="submit" name="play_button" value="Posicionar barco">
    </form>
  </div>
  </body>
</html>
