<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Astucia Naval</title>
  </head>
  <body>
    <h1>Bienvenido</h1>
    <h2>Astucia Naval</h2>
    <form class="" action="/tablero" method="get">
      <input type="submit" name="play_button" value="Play">
    </form>
  </body>
</html>
